.GeneralCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 50px 30px 10px 30px;
}

.GeneralCard > .GeneralpetCard{
    background: bisque;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    text-align: center;
    height: 400px;
    width: 250px;
    padding: 2px 0px 10px 0px;
}
.GeneralCard> .GeneralpetCard > .titleContent{
    margin-top: 8px;
    padding: 1px;
}

.GeneralCard> .GeneralpetCard .title{
    font-size:25px;
    font-weight: bold;
}
.GeneralCard > .GeneralpetCard > .imgContainer{
    margin-top: 8px;
    height: 300px;
    width: 200px;
}

.GeneralCard > .GeneralpetCard > .imgContainer > img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.GeneralCard > .GeneralpetCard > .imgContainer > img:hover {
    cursor: pointer;
    transform: scale(1.6);
  }

.GeneralCard > .GeneralpetCard > .footerCard > .footerCard-li{
    font-size:medium;
    font-weight: bold;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0;
}
.GeneralCard > .GeneralpetCard > .footerCard > .button{
    display: inline-block;
    padding: 10px 20px;
    background-color:  #4caf50;
    border-color: #4caf50;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 20px;
}

.GeneralCard > .GeneralpetCard > .footerCard > .button:hover {
    background-color: #468849;
    cursor: pointer;
}



