@import url(../../Styles/App.css);
:root {
  --fontType: "Montserrat", sans-serif;
  --mnFontW: 400;
  --scFont: 300;
  --btnFont: 700;
  --primaryColor: orange;
  --secColor: grey;
}
.itemCard {
  box-shadow: 6px 10px 23px -6px rgba(102, 102, 102, 1);
  border-radius: 5%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
}
.imgProduct {
  width: 18rem;
  height: 15rem;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 1rem;
}
.dividerProduct {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}
.itemPrice {
  font-size: 1.2rem;
  color: var(--primaryColor);
}
.itemActionButton {
  background-color: var(--primaryColor);
  border: none;
  color: white;
  padding: 0.8rem;
  border-radius: 1rem;
  font-family: var(--fontType);
  font-weight: var(--btnFont);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s all ease-in;
}
.itemQuantity {
  font-family: var(--fontType);
}
.itemActionButton:hover {
  transform: scale(1.1);
  background-color: green;
}
#plusItem {
  background-color: rgb(0, 177, 0);
}
#plusItem:hover {
  background-color: green;
}
#resItem {
  background-color: rgb(255, 1, 1);
}
#resItem:hover {
  background-color: rgb(196, 0, 0);
}
@media screen and (min-width: 670px) {
  .itemCard {
    width: 15rem;
  }
  .imgProduct {
    width: 15rem;
    height: 11rem;
  }
}
