@import url("../../Styles/App.css");
.cardDonate {
  width: 100%;
}
.cardDonate > h2 {
  margin-bottom: 3rem;
}
.seccInfo > h4 {
  color: var(--secColor);
  margin-bottom: 2rem;
}
.seccInfo img {
  width: 100%;
}

.dividerDonate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}
.dividerDonate p {
  text-align: justify;
}
.cardDonate button {
  background-color: var(--primaryColor);
  border: none;
  color: white;
  padding: 0.8rem;
  border-radius: 1rem;
  font-family: var(--fontType);
  font-weight: var(--btnFont);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s all ease-in;
  margin: auto 41%;
}
.cardDonate button:hover {
  transform: scale(1.2);
  background-color: green;
}

@media screen and (min-width: 750px) {
  .seccInfo img {
    width: 30vw;
    height: 35vh;
  }
  .dividerDonate {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .dividerDonate p {
    *width: 70vw;
  }
  .seccInfo:nth-child(1) {
    background-color: aqua;
  }
}
