
.CardDonate{
    margin:2px;
    display: flex;
    flex-wrap: wrap;
}
.CardDonate> .HeaderCardDonate .titleDonate{
    font-size: 30px;
    text-align: center;
}

.ContentDonate{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    border-style: groove;
    border-radius:20px;
    border-color: chocolate;
    padding: 0px;
}
.ContentDonate >.DonaFigure{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.ContentDonate >.DonaFigure >img{
    height:55vh;
    width: 80vh;
    border-radius:30px;
    margin: 8px;
}
.ContentDonate > .UlDescription{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom:12px;
    list-style-type:none;
}
.ContentDonate > .UlDescription> .Description{

    text-align: justify;
    text-justify:distribute-all-lines;
    font-size: 22px;
}
.CardDonate > .ContentDonate > .UlDescription> .ButtonDona{
    display: inline-block;
    padding: 10px 20px;
    background-color:  #4caf50;
    border-color: #4caf50;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.GeneralCard > .GeneralpetCard > .footerCard > .button:hover {
    background-color: #468849;
    cursor: pointer;
}
