@import url(../../../Styles/App.css);
body{
  padding: 5rem 0;
}
form {
  background-color: var(--primaryColor);
  width: 20rem;
  box-shadow: -2px -1px 51px 12px rgba(176, 176, 176, 1);
  border-radius: 1rem;
  padding-top: 1.5rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  font-family: var(--fontType);
}

form > h3 {
  font-size: 1.5rem;
}
form img {
  height: 200px;
}

.divider {
  display: flex;
  flex-direction: column; 
  background-color: white;
  width: 100%;
  gap: 0.5rem;
  padding: 1rem;  
  border-radius:0 0 1rem 1rem ;
}
.divider > label {
  color: grey;
  left: 0;
  margin-left: 2rem;
}
form input {
  margin: auto;
  width: 80%;
  border-radius: 0.5rem;
  border: 1px solid var(--primaryColor);
  padding: 0.5rem;
}

#submitBtn {
  margin: 1rem auto;
  background-color: var(--primaryColor);
  color: white;
  font-size: 1.5rem;
  font-weight: var(--btnFont);
  transition: 0.2s ease-in;
}

#submitBtn:hover {
    transform: scale(1.05);
    background-color: orangered;
}

