@import url(../../Styles/App.css);
.sectionAdopt {
  margin-bottom: 3rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.sectionAdopt > h2 {
  color: var(--primaryColor);
  font-size: 2rem;
}
.listCardsPets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.petCard {
  box-shadow: 6px 10px 23px -6px rgba(102, 102, 102, 1);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  padding-bottom: 1rem;
}
.petCard img {
  width: 18rem;
  height: 15rem;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 1rem;
}
.petCard ul {
  margin: 1rem 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--fontType);
}
.specsPet span {
  font-weight: var(--btnFont);
  color: var(--primaryColor);
}
.petCard button {
  background-color: var(--primaryColor);
  border: none;
  color: white;
  padding: 0.8rem;
  border-radius: 1rem;
  font-family: var(--fontType);
  font-weight: var(--btnFont);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s all ease-in;
}
.petCard button:hover {
  transform: scale(1.2);
  background-color: green;
}
#titleGeneralDesc {
  margin-bottom: 3rem;
}
@media screen and (min-width: 670px) {
  .sectionAdopt {
    gap: 3rem;
    margin: -5rem 0 6rem 0;
  }
  .listCardsPets {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
