@import url(../../../Styles/App.css);
:root {
  --fontType: "Montserrat", sans-serif;
  --mnFontW: 400;
  --scFont: 300;
  --btnFont: 700;
  --primaryColor: orange;
  --secColor: grey;
}

.footer {
  background-color: var(--primaryColor);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0 1rem 0;
}
.footer > picture > img {
  height: 6rem;
}
.socialFooter {
  display: flex;
}
.socialFooter {
  list-style: none;
  display: flex;
  width: 60%;
  justify-content: space-around;
}
.socialFooter img {
  width: 3rem;
}
