@import url("../../Styles/App.css");
:root {
  --fontType: "Montserrat", sans-serif;
  --mnFontW: 400;
  --scFont: 300;
  --btnFont: 700;
  --primaryColor: orange;
  --secColor: grey;
}
.knowMore {
  display: flex;
  flex-direction: column;
}
.knowMore > h3 {
  color: var(--secColor);
  margin-bottom: 4rem;
}
.misionVision {
  margin-bottom: 2rem;
  text-align: justify;
}
.misionVision picture {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.misionVision img {
  width: 60%;
}
.contact > ul {
  list-style: none;
  font-family: var(--fontType);
  margin: 2rem 0;
}
.contact > ul > li {
  width: 90%;
}
.contact > ul > li > span {
  font-weight: var(--btnFont);
  margin-right: 0.5rem;
  color: var(--primaryColor);
}
.socialMedia {
  display: flex;
  justify-content: space-around;
}
.socialMedia img {
  width: 2rem;
}
@media screen and (min-width: 670px) {
  .misionVision {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .misionVision img {
    width: 20vw;
  }
  .textKnow {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
